<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.goingonapp"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="16" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <permission
        android:name="com.example.permission.MAPS_RECEIVE"
        android:protectionLevel="signature" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/go_icon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.example.goingonapp.activities.GoingOnAppInit_Activity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.goingonapp.activities.GoingOnAppLogin_Activity"
            android:label="@string/title_activity_init"
            android:parentActivityName="com.example.goingonapp.activities.GoingOnAppLogin_Activity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateVisible" >
        </activity>

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/app_id" />

        <activity android:name="com.facebook.LoginActivity" >
        </activity>
        <activity
            android:name="com.example.goingonapp.activities.GoingOnAppMap_Activity"
            android:label="@string/title_activity_going_on_app_map_" >
        </activity>
        <activity
            android:name="com.example.goingonapp.activities.GoingOnAppSignUp_Activity"
            android:label="@string/title_activity_going_on_app_sign_up_" >
        </activity>
        <activity
            android:name="com.example.goingonapp.activities.GoingOnAppAddEvent_Activity"
            android:label="@string/title_activity_going_on_app_add_event_" >
        </activity>
        <activity
            android:name="com.example.goingonapp.activities.GoingOnAppMobileUser_Activity"
            android:label="@string/title_activity_going_on_app_mobile_user_" >
        </activity>
        <activity
            android:name="com.example.goingonapp.activities.GoingOnAppEventList_Activity"
            android:label="@string/title_activity_going_on_app_event_list_" >
        </activity>
        <activity
            android:name="com.example.goingonapp.activities.GoingOnAppTicketsList_Activity"
            android:label="@string/title_activity_going_on_app_tickets_list_" >
        </activity>
    </application>

</manifest>
